.quote {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 40px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .quote {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .quote {
    padding-bottom: 45px;
    width: 100%;
  }
}
