.section-title {
  color: #ffffff;
  font-size: 72px;
  line-height: 1.05;
  font-weight: bold;
  width: 100%;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .section-title {
    font-size: 42px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section-title {
    font-size: 32px;
  }
}
