.section-text {
  width: 95%;
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .section-text {
  line-height: 1.5;
  font-size: 16px;
  }
}
