.header__illustration {
  margin-top: 64px;
  width: 80%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .header__illustration {
    width: 100%;
  }
}
