.visit-us__title {
  color: #ffffff;
  font-size: 72px;
  line-height: 1.05;
  font-weight: bold;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .visit-us__title {
    font-size: 32px;
  }
}
