.logo__square {
  position: relative;
  width: 32px;
  height: 32px;
  background: #0278FE;
  border-radius: 10%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo__square {
    width: 23px;
    height: 23px;
  }
}
