.visit-us__background {
  background-image: url(../../../images/field.jpg);
  width: 90%;
  height: 740px;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .visit-us__background {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .visit-us__background {
    width: 100%;
    height: 254px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
