.visit-us__background {
  background-image: url(../../../images/field.jpg);
  width: 90%;
  height: 740px;
  margin: auto auto;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .visit-us__background {
    width: 100%;
  }
}
