.description__title {
  color: #ffffff;
  font-size: 54px;
  line-height: 1.05;
  font-weight: bold;
  margin-top: 93px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .description__title {
    font-size: 32px;
  }
}
