@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../fonts/InterWeb/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__illustration/header__illustration.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/__square/logo__square.css);
@import url(../blocks/logo/__text/logo__text.css);
@import url(../blocks/logo/__vector-one/logo__vector-one.css);
@import url(../blocks/logo/__vector-two/logo__vector-two.css);
@import url(../blocks/quote/quote.css);
@import url(../blocks/quote/__author/quote__author.css);
@import url(../blocks/quote/__text/quote__text.css);
@import url(../blocks/content/content.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-button/section-button.css);
@import url(../blocks/section-text/section-text.css);
@import url(../blocks/section-image/section-image.css);
@import url(../blocks/description/description.css);
@import url(../blocks/description/__title/description__title.css);
@import url(../blocks/description/__main-text/description__main-text.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__title/gallery__title.css);
@import url(../blocks/gallery/__container/gallery__container.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/artist/artist.css);
@import url(../blocks/artist/__name/artist__name.css);
@import url(../blocks/artist/__title/artist__title.css);
@import url(../blocks/kiev/kiev.css);
@import url(../blocks/grid/grid.css);
@import url(../blocks/grid/__text-container/grid__text-container.css);
@import url(../blocks/criccieth/criccieth.css);
@import url(../blocks/berea/berea.css);
@import url(../blocks/muramvya/muramvya.css);
@import url(../blocks/visit-us/visit-us.css);
@import url(../blocks/visit-us/__overlay/visit-us____overlay.css);
@import url(../blocks/visit-us/__background/visit-us__background.css);
@import url(../blocks/visit-us/__title/visit-us__title.css);
@import url(../blocks/visit-us/__subtitle/visit-us__subtitle.css);
@import url(../blocks/visit-us/__button/visit-us__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/copyright/copyright.css);
