.header__title {
  width: 70%;
  font-size: 96px;
  line-height: 1.05;
  font-weight: bold;
  text-align: center;
  margin: 91px 0 0 0;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .header__title {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .header__title {
    font-size: 40px;
    width: 90%;
  }
}
