.muramvya {
  width: 80%;
  margin: 0 10% 80px;
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .muramvya {
    width: 90%;
    margin: 0 3% 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .muramvya {
    width: 100%;
    margin: 0 0 80px;
    position: relative;
  }
}
